@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
    box-sizing: border-box;

}

.banner{
    width: 100%;
    height: 252vh;
    background-color: black;
    background-position: center;
    background-size: center;

}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10%;

}
.logo{
    width: 30%;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 15px;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 15px;
    bottom: -10px;

}
.navbar ul li:hover::after{
    width: 40%;

}

/* flip */
.flip ul,li{
    list-style: none;
    margin: 0;
    padding: 0;

}
.flip ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10%;

}
.flip ul li{
    width: 12%;
    margin: 0 5%;

}
.flip ul li a{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flip ul li .img{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.6s;
    transform-style: preserve-3d;

}
.flip ul li:hover .img{
    transform: rotateY(180deg);

}
.flip ul li .img::before{
    content: "";
    display: block;
    padding-bottom: 100%;

}
.flip ul li .img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.flip ul li .img .front img,
.flip ul li .img .back img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}
.flip ul li p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 0 5%;
    padding-left: 10px;

}
/* flip */
/* service */
.section-title .font{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    margin-left: 43.5%;
    padding-top: 5%;
    margin-bottom: 10px;

}
.section-title .font span{
    color: palegreen;
}
.underline{
    border: 1px solid #fff;
    width: 10rem;
    margin: 0 auto;
    margin-bottom: 10%;
    align-items: center;
    
}


.main-timline{
   margin-left: 13%;
    margin-right: 18%;
    position: relative;

}

.main-timline:before,
.main-timline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;

}
.main-timline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #bababa;
    position: absolute;
    top: 0px;
    left: 50%;
    
}
.main-timline .timeline{
    width: 50%;
    float: left;
    position: relative;
    z-index: 1;

}
.main-timline .timeline:before,
.main-timline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timline .timeline:first-child:before,
.main-timline .timeline:last-child:before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid rgba(211, 207, 205, 1);
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
}
.main-timline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timline .timeline:last-child:nth-child(even):before{
    right: auto;
    left:-14px;
    bottom: -2px;
    
}

.main-timline .timeline-content{
    text-align: center;
    margin-top: 8px;
    position: relative;
    transition: all 0.3s ease 0s;
}

.main-timline .timeline-content:before{
    content: "";
    width: 100%;
    height: 5px;
    background: rgba(211, 207, 205, 1);
    position: absolute;
    top: 88px;
    left: 0;
    z-index: -1;
}
.main-timline .circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    border: 8px solid rgba(211, 207, 205, 1);
    float: left;
    margin-right:25px;
    position: relative;
    
}
.main-timline .circle:before{
    content: "";
    width: 26px;
    height: 30px;
    background: rgba(211, 207, 205, 1);
    margin: auto;
    position: absolute;
    top: 0;
    right: -33px;
    bottom: 0;
    z-index: -1;
    box-shadow: inset 7px 0 9px -7px #444;

}

.main-timline .circle span{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 268px;

}
.main-timline .circle span:before,
.main-timline .circle span:after{
    content: "";
    width: 28px;
    height: 50px;
    background: black;
    border-radius: 0 0 0 21px;
    margin: auto;
    position: absolute;
    top: -54px;
    right: -33px;
    bottom: 0;
    z-index: -1;

}

.main-timline .circle span:after{
    border-radius: 21px 0 0 0;
    top: 0;
    bottom:-56px ;
}
.main-timline .circle .img{
    vertical-align: initial;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    cursor: pointer;

}

.main-timline .content{
    display: table;
    padding-right: 70px;
    position: relative;
}

.main-timline .title{
    display: block;
    padding: 10px;
    margin: 10px 0 50px 0;
    background: lightgrey;
    border-radius: 7px;
    font-size: 25px;
    color: #000;
    cursor: pointer;

}

.main-timline .description{
    font-size: 18px;
    font-weight: 500;
    color: #acacaccc;
    text-align: justify;

    
}
.main-timline .icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid rgba(211, 207, 205, 1);
    position: absolute;
    top: 78px;
    right: -14px;

}
.main-timline .icon:before{
    content: "";
    width: 15px;
    height: 25px;
    background: rgba(211, 207, 205, 1);
    margin: auto;
    position: absolute;
    top: -1px;
    left: -14px;
    bottom: 0;
    z-index: -1;

}
.main-timline .icon span:before,
.main-timline .icon span:after{
    content: "";
    width: 21px;
    height: 25px;
    background: black;
    border-radius: 0 0 21px 0;
    margin: auto;
    position: absolute;
    top: -30px;
    left: -15px;
    bottom: 0;
    z-index: -1;
}
.main-timline .icon span:after{
    border-radius: 0 21px 0 0 ;
    top: 0;
    left: -15px;
    bottom: -30px;
    
}
.main-timline .timeline:nth-child(2n) .timeline-content,
.main-timline .timeline:nth-child(2n) .circle{
    float: right;

}

.main-timline .timeline:nth-child(2n) .circle{
    margin: 0 0 0 25px;

}
.main-timline .timeline:nth-child(2n) .circle:before{
    right: auto;
    left: -33px;
    box-shadow: -7px 0 9px -7px #444 inset;

}
.main-timline .timeline:nth-child(2n) .circle span:before,
.main-timline .timeline:nth-child(2n) .circle span:after{
    right:auto;
    left: -33px;
    border-radius: 0 0 21px 0;

}
.main-timline .timeline:nth-child(2n) .circle span:after{
    border-radius: 0 21px 0 0;

}


.main-timline .timeline:nth-child(2){
    margin-top:180px ;

}

.main-timline .timeline:nth-child(odd){
    margin: -175px 0 0 0;

}
.main-timline .timeline:nth-child(even){
    margin-bottom: 180px;

}
.main-timline .timeline:first-child,
.main-timline .timeline:last-child:nth-child(even){
    margin: 0;
}
.main-timline .timeline:nth-child(2n) .content{
    padding: 0 0 0 40px;
    margin-left: 2px;
}
.main-timline .timeline:nth-child(2n) .icon{
    right: auto;
    left: -14px;

}
.main-timline .timeline:nth-child(2n) .icon:before,
.main-timline .timeline:nth-child(2n) .icon span:before,
.main-timline .timeline:nth-child(2n) .icon span:after{
    left: auto;
    right: -15px;

}
.main-timline .timeline:nth-child(2n) .icon span:before{
    border-radius: 0 0 0 21px;

}
.main-timline .timeline:nth-child(2n) .icon span:after{
    border-radius: 21px 0 0 0;
}
/* service */